# Configuration file

general {

    ##########################################################################################################
    # master
    #--------------------------------------------------------------------------------------------------------#
    # This is where you can enable/disable entire parts of the mod.
    ##########################################################################################################

    master {
        B:"Biomes: Enable Biomes"=true
        B:"Building: Enable Mystical Grill"=true
        B:"Building: Enable Stone Blocks"=false
        B:"Caves: Enable Caves"=true
        B:"Environment: Enable Fallen Trees"=true
        B:"Groundcover: Enable Bones"=true
        B:"Groundcover: Enable Fallen Leaves"=true
        B:"Groundcover: Enable Flower Patch"=false
        B:"Groundcover: Enable Groundcover"=true
        B:"Groundcover: Enable Pinecones"=false
        B:"Groundcover: Enable Rocks"=true
        B:"Groundcover: Enable Seashells"=false
        B:"Groundcover: Enable Twigs"=false
        B:"Misc: Enable Puddles"=false
        B:"Mobs: Enable Aggressive Mobs"=true
        B:"Mobs: Enable Neutral Mobs"=true
        B:"Mobs: Enable Passive Mobs"=true
        B:"Ore: Enable Aquamarine"=true
        B:"Plants: Enable End Plants"=true
        B:"Plants: Enable Nether Plants"=true
        B:"Plants: Enable Overworld Plants"=true
        B:"Structures: Enable Structures"=true
    }

    ##########################################################################################################
    # global
    #--------------------------------------------------------------------------------------------------------#
    # Set global modifiers that affect entire parts of the mod.
    # Everything is based around a value of 100
    # e.g. setting twigs to 150 increases twigs spawn rate by 50%
    ##########################################################################################################

    global {
        I:"Animals Density"=100
        I:"End Plants Density"=100
        I:"Fallen Leaves Density"=100
        I:"Fallen Tree Density"=100
        I:"Groundcover Density"=100
        I:"Mobs Density"=100
        I:"Nether Plants Density"=100
        I:"Overworld Plants Density"=100
        I:"Rocks Density"=100
        I:"Stone Deposits Density"=100
        I:"Twigs Density"=100
    }

    ##########################################################################################################
    # worldgen
    #--------------------------------------------------------------------------------------------------------#
    # Set to 0 to disable from generation
    # "Sparse" means biomes in which tree types rarely generate.
    # e.g. birch trees rarely generate in forests and roofed forests.
    ##########################################################################################################

    worldgen {
        I:abandonedFarmWeight=0
        I:acaciaTwigsDensity=0
        B:allowBeachVillages=false
        I:andesiteRocksCaveDensity=100
        I:andesiteRocksDensity=130
        I:aspenDensity=0
        I:aspenTwigsDensity=0
        I:baobabDensity=0
        I:baobabTwigsDensity=0
        I:basaltDensity=0
        I:beachGrassDensity=0
        I:birchTwigsDensity=0
        I:birchTwigsSparseDensity=0
        I:bloodnettleDensity=0
        I:bonesDensity=50
        I:bonesDesertDensity=0
        I:bonesNetherDensity=0
        I:boulderDensity=0
        I:bracketFungusDensity=0
        I:bushDensity=0
        I:cattailDensity=0
        I:chickweedDensity=0
        I:cloversDensity=0
        I:cobblestoneRocksCaveDensity=100
        I:cobblestoneRocksDensity=130
        I:cobwebDensity=0
        I:cottonwoodDensity=0
        I:cottonwoodTwigsDensity=0
        I:crabgrassDensity=0
        I:crackedSandDensity=0
        I:darkOakTwigsDensity=0
        I:deathcapDensity=0
        B:decreaseDesertLakes=true
        B:decreasePlainsPonds=true

        # Use dimension ids, separate by commas. Do not use spaces
        S:dimensionBlacklist=
        I:dioriteRocksCaveDensity=100
        I:dioriteRocksDensity=130
        B:enableBaobabFields=false
        B:enableFrozenCaves=false
        B:enableOvergrownCaves=false
        B:enableSandstoneCaves=false
        B:enableTerracottaCaves=false
        I:fallenLeavesAcaciaDensity=0
        I:fallenLeavesAspenDensity=0
        I:fallenLeavesBaobabDensity=0
        I:fallenLeavesBirchDensity=0
        I:fallenLeavesBirchSparseDensity=0
        I:fallenLeavesCottonwoodDensity=0
        I:fallenLeavesDarkOakDensity=0
        I:fallenLeavesDarkOakSparseDensity=0
        I:fallenLeavesDeadDensity=50
        I:fallenLeavesFirDensity=0
        I:fallenLeavesJacarandaDensity=0
        I:fallenLeavesJungleDensity=0
        I:fallenLeavesJungleSparseDensity=0
        I:fallenLeavesJuniperDensity=0
        I:fallenLeavesMangroveDensity=0
        I:fallenLeavesOakDensity=0
        I:fallenLeavesOakSparseDensity=0
        I:fallenLeavesOrangeMapleDensity=0
        I:fallenLeavesPalmDensity=0
        I:fallenLeavesPineDensity=0
        I:fallenLeavesPinkCherryBlossomDensity=0
        I:fallenLeavesRedMapleDensity=0
        I:fallenLeavesRedwoodDensity=0
        I:fallenLeavesSpruceDensity=0
        I:fallenLeavesSpruceSparseDensity=0
        I:fallenLeavesWhiteCherryBlossomDensity=0
        I:fallenLeavesWillowDensity=0
        I:fallenTreeAcaciaDensity=0
        I:fallenTreeAspenDensity=0
        I:fallenTreeBaobabDensity=0
        I:fallenTreeBirchDensity=0
        I:fallenTreeBirchSparseDensity=0
        I:fallenTreeCherryBlossomDensity=0
        I:fallenTreeCottonwoodDensity=0
        I:fallenTreeFirDensity=0
        I:fallenTreeJacarandaDensity=0
        I:fallenTreeJungleDensity=0
        I:fallenTreeJuniperDensity=0
        I:fallenTreeMangroveDensity=0
        I:fallenTreeMapleDensity=0
        I:fallenTreeOakDensity=0
        I:fallenTreeOakSparseDensity=0
        I:fallenTreePalmDensity=0
        I:fallenTreePineDensity=0
        I:fallenTreeRedwoodDensity=0
        I:fallenTreeSpruceDensity=0
        I:fallenTreeSpruceSparseDensity=0
        I:fallenTreeWillowDensity=0
        I:firDensity=0
        I:firTwigsDensity=0
        I:flouroporeDensity=0
        I:flowerPatchDensity=0
        I:frostLotusDensity=0
        I:glowcapDensity=0
        I:gneissDensity=0
        I:graniteCaveDensity=100
        I:graniteRocksDensity=130
        I:icicleDensity=0
        I:jacarandaDensity=3
        I:jacarandaTwigsDensity=0
        I:jungleTwigsDensity=0
        I:juniperDensity=0
        I:juniperTwigsDensity=0
        I:lilypadLakesDensity=0
        I:lilypadRiverDensity=0
        I:limestoneDensity=0
        I:mangroveDensity=0
        I:mangroveRootDensity=0
        I:mangroveTwigsDensity=0
        I:marbleDensity=0
        B:modifyDungeons=true
        I:mossyCobblestoneRocksDensity=0
        I:mudDensity=0
        I:oakTwigsDensity=0
        I:oakTwigsSparseDensity=0
        I:orangeMapleDensity=0
        I:orangeMapleTwigsDensity=0
        I:orangeMushroomDensity=0
        I:palmDensity=0
        I:palmTwigsDensity=0
        I:pillowBasaltDensity=0
        I:pineDensity=0
        I:pineTwigsDensity=0
        I:pineconesDensity=0
        I:pinkCherryBlossomDensity=0
        I:pinkCherryBlossomTwigsDensity=0
        I:redCrackedSandDensity=0
        I:redMapleDensity=0
        I:redMapleTwigsDensity=0
        I:redSandstoneRocksDensity=0
        I:redwoodDensity=0
        I:redwoodTwigsDensity=0
        I:riverGrassDensity=0
        I:ruinsWeight=0
        I:sandstoneRocksDensity=0
        I:seaOatsDensity=0
        I:seashellsDensity=0
        I:shortGrassDensity=0
        I:siltstoneDensity=0
        I:silverleafDensity=0
        I:smallCactusDensity=0
        I:spruceTwigsDensity=0
        I:spruceTwigsSparseDensity=00
        I:stalactiteDensity=0
        I:stalagmiteDensity=0
        I:stoneRocksCaveDensity=150
        I:stoneRocksDensity=180
        I:sundewDensity=0
        I:voidGrassDensity=0
        I:waxcapDensity=0
        I:whiteCherryBlossomDensity=0
        I:whiteCherryBlossomTwigsDensity=0
        I:wildBeetrootDensity=0
        I:wildCarrotDensity=0
        I:wildPotatoDensity=0
        I:wildWheatDensity=0
        I:willowDensity=0
        I:willowTwigsDensity=0
        I:witherweedDensity=0
    }

    ##########################################################################################################
    # biomes
    #--------------------------------------------------------------------------------------------------------#
    # Set to 0 to disable from generation.
    # Biome weight is how much chance a biome has to generate.
    ##########################################################################################################

    biomes {
        I:aspenGroveWeight=7
        I:baobabFieldsWeight=5
        I:blossomingfields=5
        I:borealForestWeight=8
        I:overgrownSpiresWeight=5
        I:prairieWeight=6
        I:redwoodPeaksWeight=8
        I:redwoodsWeight=8
        I:snowyBorealForestWeight=8
        I:willowSwampWeight=6
    }

    ##########################################################################################################
    # entities
    #--------------------------------------------------------------------------------------------------------#
    # Spawn weight is how much often an entity spawns.
    # Set to 0 to disable spawning.
    ##########################################################################################################

    entities {
        I:bansheeSpawnWeight=55
        I:clamWeight=5
        I:coyoteSpawnWeight=2
        I:duckWeight=0
        B:firefliesSpawnInSnowBiomes=false
        I:fireflySpawnWeight=150
        I:flySpawnWeight=10
        I:flySwampSpawnWeight=20
        I:ghostSpawnWeight=65
        I:goonSpawnWeight=20
        I:grizzlyBearSpawnWeight=0
        I:icecubeSpawnWeight=35
        B:junglesSpawnCaveSpiders=true

        # For weaklings
        B:replaceGoonSounds=false
        I:shadeRoofedForestSpawnWeight=100
        I:shadeSpawnWeight=55
        I:skeletalKnightWeight=45
        I:snailSpawnWeight=8
        I:spiderSpawnWeight=5
        B:squidsDropFood=true
        I:starfishBeachWeight=25
        I:starfishWeight=10
        I:watcherSpawnWeight=5
    }

    misc {
        B:doGrassDropSeeds=false

        # This is measured in ticks. 20 ticks = 1 second
        # 6000 ticks = 5 minutes
        I:mysticalGrillCookTime=6000
        B:restrictSquidsToOceans=true

        # If true, you can shift right click on groundcover to drop their item
        B:shiftRightClickGroundCover=true
    }

    integration {

        "biomes o' plenty" {
            I:fallenLeavesBambooDensity=700
            I:fallenLeavesEbonyDensity=25
            I:fallenLeavesEucalyptusDensity=50
            I:fallenLeavesFirDensity=70
            I:fallenLeavesFloweringOakDensity=60
            I:fallenLeavesHellbarkDensity=40
            I:fallenLeavesJacarandaDensity=60
            I:fallenLeavesMagicDensity=65
            I:fallenLeavesMahoganyDensity=50
            I:fallenLeavesMangroveDensity=60
            I:fallenLeavesMapleDensity=65
            I:fallenLeavesOrangeAutumnDensity=70
            I:fallenLeavesPalmDensity=35
            I:fallenLeavesPineDensity=50
            I:fallenLeavesPinkCherryDensity=60
            I:fallenLeavesRedwoodDensity=70
            I:fallenLeavesSacredOakDensity=50
            I:fallenLeavesUmbranDensity=40
            I:fallenLeavesWhiteCherryDensity=60
            I:fallenLeavesWillowDensity=70
            I:fallenLeavesYellowAutumnDensity=70
            I:fallenTreeAutumnDensity=20
            I:fallenTreeCherryDensity=20
            I:fallenTreeDeadDensity=20
            I:fallenTreeEbonyDensity=5
            I:fallenTreeEucalyptusDensity=10
            I:fallenTreeFirDensity=25
            I:fallenTreeHellbarkDensity=2
            I:fallenTreeJacarandaDensity=15
            I:fallenTreeMagicDensity=25
            I:fallenTreeMahoganyDensity=20
            I:fallenTreeMangroveDensity=15
            I:fallenTreeMapleDensity=20
            I:fallenTreePalmDensity=15
            I:fallenTreePineDensity=15
            I:fallenTreeRedwoodDensity=20
            I:fallenTreeSacredOakDensity=15
            I:fallenTreeUmbranDensity=25
            I:fallenTreeWillowDensity=15
            I:twigsAutumnDensity=160
            I:twigsCherryDensity=160
            I:twigsEbonyDensity=50
            I:twigsEucalyptusDensity=120
            I:twigsFirDensity=160
            I:twigsHellbarkDensity=40
            I:twigsJacarandaDensity=120
            I:twigsMagicDensity=70
            I:twigsMahoganyDensity=150
            I:twigsMangroveDensity=120
            I:twigsMapleDensity=160
            I:twigsPalmDensity=70
            I:twigsPineDensity=70
            I:twigsRedwoodDensity=350
            I:twigsSacredOakDensity=150
            I:twigsUmbranDensity=160
            I:twigsWillowDensity=150
        }

        traverse {
            I:fallenLeavesBrownAutumnDensity=15
            I:fallenLeavesFirDensity=30
            I:fallenLeavesOrangeAutumnDensity=15
            I:fallenLeavesRedAutumnDensity=15
            I:fallenLeavesYellowAutumnDensity=15
            I:fallenTreeAutumnDensity=5
            I:fallenTreeFirDensity=15
            I:twigsBrownAutumnDensity=50
            I:twigsFirDensity=170
            I:twigsOrangeAutumnDensity=50
            I:twigsRedAutumnDensity=50
            I:twigsYellowAutumnDensity=50
        }

    }

}


